@using SampleProjects.HelperMethods;
@using SampleProjects.HelperMethods.Sidebar;

<div class="sidenav">
    @foreach (var singleLinks in SideBarDataStore.SideBar.Menu.SingleLevelMenu)
    {
        @Html.ActionLink(singleLinks.LinkText, singleLinks.Action, singleLinks.Controller, null, new { @class = Html.SetativeLink(singleLinks.Action, singleLinks.Controller) })
    }

    @foreach (var multiLinks in SideBarDataStore.SideBar.Menu.MultiLevelMenu)
    {
        <button class="dropdown-btn
            @Html.SetActiveDropDown(multiLinks.Links)">
            @multiLinks.MenuName
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container" style="@Html.ExpandDropDown(multiLinks.Links)">
            @foreach (var subLinks in multiLinks.Links)
            {
                @Html.ActionLink(subLinks.LinkText, subLinks.Action, subLinks.Controller, null, new { @class = Html.SetativeLink(subLinks.Action, subLinks.Controller) })
            }
        </div>
    }
</div>
