@using SampleProjects.HelperMethods;
@using SampleProjects.HelperMethods.Sidebar;

<div class="sidenav">
    <div>Refreshed On :- @SideBarDataStore.SideBar.RefreshedOn</div>
    @foreach (var items in SideBarDataStore.SideBar.Menu.OrderBy(x => x.Order))
    {
        if (items.IsMultiLevel == false && items.Links.Count > 0)
        {
            @Html.ActionLink(items.Links[0].LinkText, items.Links[0].Action, items.Links[0].Controller, null, new { @class = Html.SetativeLink(items.Links[0].Action, items.Links[0].Controller) })
        }
        else
        {
            <button class="dropdown-btn
            @Html.SetActiveDropDown(items.Links)">
                @items.MenuName
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" style="@Html.ExpandDropDown(items.Links)">
                @foreach (var subLinks in items.Links.OrderBy(x => x.Order))
                {
                    string url = Url.Action(subLinks.Action, subLinks.Controller) + subLinks.Parameters;
                    <a href="@url" class="@Html.SetativeLink(subLinks.Action, subLinks.Controller) ">@subLinks.LinkText</a>
                }
            </div>
        }
    }
</div>

@*@foreach (var items in SideBarDataStore.SideBar.Menu.OrderBy(x => x.Order))
{
    bool isAutherized = items.IsAdminPanel == true ? (Session["UserRole"].ToString() == "Owner") : true;
    if (isAutherized)
    {
        if (items.IsMultiLevel == false && items.Links.Count > 0)
        {
            string url = Url.Action(items.Links[0].Action, items.Links[0].Controller) + items.Links[0].Parameters;
            <li class="@Html.SetativeLink(items.Links[0].Action, items.Links[0].Controller,"active")">
                <a class="treeview_test" href="@url">
                    @items.Links[0].LinkText
                </a>
            </li>
        }
        else
        {
        <li class="@Html.SetActiveDropDown(items.Links,"active treeview")">
            <a class="treeview_test" href="#">
                @items.MenuName
            </a>
            <ul class="treeview-menu"> 
                @foreach (var subLinks in items.Links.OrderBy(x => x.Order))
                {
                    string url = Url.Action(subLinks.Action, subLinks.Controller) + subLinks.Parameters;
                    <li class="@Html.SetativeLink(subLinks.Action, subLinks.Controller,"active")">
                        <a class="treeview_test" href="@url">
                            @items.Links[0].LinkText
                        </a>
                    </li>
                }
            </ul>
        </li>
        }
    }
}*@


                